phidata 
duckduckgo-search 
yfinance 
fastapi 
uvicorn 
groq 
openai
numpy 
pandas 
matplotlib
seaborn 
cvxpy 
transformers
torch
python-dotenv
OpenBB
scikit-learn 
git+https://github.com/robertmartin8/PyPortfolioOpt.git
tabulate 